<div class="description">
  <p>To collect the articles that you've read on Instapaper, the Instapaper collector needs the RSS feed for your archived articles.</p>

  <p>To find the URL for your personal RSS feed, go to the <a href="http://www.instapaper.com/archive" target="_blank">archive for your Instapaper account</a>.  Look for the RSS feed link on that page.  (You should find it toward the bottom right of the page.)  The URL will look something like this:</p>

  <p><code>http://www.instapaper.com/archive/rss/123456/0123456789abcdefghijklmnopq</code></p>

  <p>Grab the RSS feed URL for your account and paste it into the field below.</p>
</div>

<div class="field">
  <%= f.label :rss_url, "RSS URL" %><br />
  <%= f.text_field :rss_url %>
</div>
