<!DOCTYPE html>
<html>
<head>
  <title>Stratify</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <h1>Stratify</h1>
  </header>
  <div id="content">
  	<div id="mainContent">
      <%= yield %>
  	</div>
  	<aside id="sidebar">
      <div id="layers">
    	  <h2>Layers</h2>
    		<form action="#" method="get">
    		  <ul>
    		    <li>
      		    <input type="checkbox" id="gowalla-toggle" name="gowalla" checked="checked"/>
      		    <label for="gowalla-toggle">Gowalla<img src="images/gowalla-icon-16.png" alt="gowalla icon"></label>
            </li>
            <li>
      		    <input type="checkbox" id="instapaper-toggle" name="instapaper" checked="checked"/>
      		    <label for="instapaper-toggle">Instapaper<img src="images/instapaper-icon-16.png" alt="instapaper icon"></label>
            </li>
            <li>
      		    <input type="checkbox" id="itunes-toggle" name="itunes" checked="checked"/>
      		    <label for="itunes-toggle">iTunes<img src="images/itunes-icon-16.png" alt="itunes icon"></label>
            </li>
            <li>
      		    <input type="checkbox" id="rhapsody-toggle" name="rhapsody" checked="checked"/>
      		    <label for="rhapsody-toggle">Rhapsody<img src="images/rhapsody-icon-16.png" alt="rhapsody icon"></label>
            </li>
    		    <li>
      		    <input type="checkbox" id="twitter-toggle" name="twitter" checked="checked"/>
      		    <label for="twitter-toggle">Twitter<img src="images/twitter-icon-16.png" alt="twitter icon"></label>
    		    </li>
    		  </ul>
    		</form>
        <!-- TODO Allow users to configure layers via the UI -->
    		<!-- <a href="#">Configure layers</a> -->
      </div>
    </aside>
  </div>
</body>
</html>
